@mixin auto-size($max-width, $max-height) {
  width: 100%;
  height: 100%;
  max-width: $max-width;
  max-height: $max-height;
  margin: 0 auto;

  @media screen and (min-aspect-ratio: #{$max-width}/#{$max-height}) {
    height: auto;
  }

  @media screen and (max-aspect-ratio: #{$max-width}/#{$max-height}) {
    width: auto;
  }
}
// @include auto-size(1200px, 800px); максимальна ширина 1200px, максимальна висота 800px  поняв як юзати?