@import "./mixins/responsive-width";
:root {
  --gradient-shadow:linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
}


.box-card {
  flex-shrink: 0;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    @include responsive-width(500px);
    margin: 20px auto;
    border-radius:15px;
    color: white;
    background: #101010;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-shadow: 10px 10px 38px 0 rgba(199,179,199,1);
    -moz-box-shadow: 10px 10px 38px 0 rgba(199,179,199,1);
    box-shadow: 10px 10px 38px 0 rgba(199,179,199,1);
    transition: .3s all;
  &:hover{
    transform: scale(1.07)
  }
  }
  .list-li {
    font-size: 22px;
    font-weight: 900;
  }
